@use "../config/mixins" as *;

.inner {
  padding: 0 90px;

  @include mq(tab) {
    padding: 0 30px;
  }

  @include mq(sp) {
    padding: 0;
  }
}

// section
.s-inner {
  padding: 20px 90px;

  @include mq(tab) {
    padding: 80px 30px;
  }

  @include mq(sp) {
    padding: 20px 15px;
  }
}

.s-slider-inner {
  padding: 20px 0 20px 20px;

  @include mq(sp) {
    padding: 15px;
  }
}

// menu
.m-inner {
  padding: 50px;

  @include mq(tab) {
    padding: 50px 0;
  }

  @include mq(sp) {
    padding: 50px 0;
  }
}

// page
.p-inner {
  padding: 150px 90px;

  @include mq(tab) {
    padding: 150px 20px;
  }

  @include mq(sp) {
    padding: 150px 10px;
  }
}
