/* --------------------------------------------------------------
swiper
-------------------------------------------------------------- */
/* main
========================================================= */
.main-swiper {
  position: relative;
  border-radius: 30px;
  overflow: initial !important;

  .swiper-wrapper {
    .swiper-slide {
      height: calc(100vh - 160px) !important;

      .img {
        border: solid 2px#00c295;
        border-radius: 30px;
      }
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: auto;
    right: 0;
    bottom: -40px;
  }

  .swiper-pagination-fraction {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    color: #1a1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    max-width: 350px;
    padding: 35px 0;
    background-color: #eee;

    .border {
      width: 100px;
      height: 2px;
      margin: 0 8px;
      background-color: #ddd;
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #1a1b1b;
        transform: scaleX(0);
        transform-origin: left center;
        transition-timing-function: linear;
      }
    }
  }

  .swiper-pagination {
    &-current,
    &-total {
      font-size: 14px;
      margin: 0 20px;
    }

    &.is-active {
      .border {
        span {
          transform: scaleX(1);
          transition: transform 3.85s linear;
        }
      }
    }
  }
}

/* topics
========================================================= */
.swiper-outer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  margin-bottom: 150px;

  .swiper-scrollbar {
    background: #eee;
    height: 2px !important;
    position: absolute;
    bottom: -50px !important;
    left: 0 !important;
    width: 50% !important;

    &-drag {
      background: #00c295;
      border-radius: 4px;
    }

    &-horizontal {
      z-index: 2 !important;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: auto !important;
    left: 60% !important;
    bottom: calc(-50px + -22px);
    width: 50px !important;
    height: 50px !important;
    z-index: 2 !important;

    &::after {
      content: "";
      width: 50px !important;
      height: 50px !important;
    }
  }

  .swiper-button-prev {
    background-image: url(assets/images/icon/i_arrow_l_g.png);
    background-position: center;
    background-size: cover;
  }
  .swiper-button-next {
    left: calc(60% + 80px) !important;
    background-image: url(assets/images/icon/i_arrow_r_g.png);
    background-position: center;
    background-size: cover;
  }
}

.topics-swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
  box-sizing: border-box;

  .swiper-wrapper {
    transition-timing-function: linear;

    .swiper-slide {
      height: 250px !important;
      width: 400px !important;

      .img {
        border-radius: 30px;
        border: solid 2px#00c295;
      }
    }
  }
}
