.s-title {
  font-size: xx-large;
  text-align: center;
  margin: 50px auto;
}

.p-title {
  font-size: xx-large;
  text-align: center;
  margin: 30px auto;
}

.p-subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 50px;
}
