.s-title {
  font-size: xx-large;
  text-align: center;
  margin: 50px auto;
}

.p-title {
  font-size: 100px;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.p-subtitle {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
