.page-about {
  position: relative;

  .parallax-box {
    position: relative;

    .simpleParallax {
      height: 100vh;
    }

    .p-inner {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: #fff;
    }
  }

  .ab-main {
    display: flex;
    align-items: flex-start;
    padding: 80px 50px;

    &__left {
      position: sticky;
      top: 30%;
      left: 0;
      width: 50%;
      background-color: #fff;

      .parallax-box {
        height: 350px;

        .simpleParallax {
          height: 100%;
        }
      }
    }

    &__right {
      width: 70%;

      ul {
        padding-left: 80px;

        li {
          padding: 50px 0;
          border-bottom: dashed 1px #333;

          &:first-child {
            padding-top: 0;
          }

          .subheading {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 35px;
          }

          .text {
            font-size: 1.3rem;
          }

          dl {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            dt {
              width: 30%;
              font-size: 1.3rem;
              margin-right: 20px;
              font-weight: initial;
            }

            dd {
              width: 70%;
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }

  .ab-lower {
    .guide-area {
      background-color: #eee;

      a {
        position: relative;
        display: block;
        width: 100%;
        padding: 150px 80px 0;
        z-index: 1;
        transition: 0.3s;

        &:last-child {
          padding-bottom: 150px;
        }

        &:hover {
          .guide-area__title {
            transform: scale(1.1);
          }
        }
      }

      &__wrap {
        display: flex;
        align-items: center;
        position: relative;
      }

      &__left {
        position: relative;
        width: 50%;
      }

      &__right {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
      }

      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 380px;
        background-color: #fff;
        font-size: 60px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.2rem;
        margin: 0 auto;
        transition: 0.3s;
      }

      &__description {
        position: absolute;
        right: -450px;
        bottom: 35px;
        width: 500px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.2rem;
        line-height: 1.5;
      }

      &__text {
        letter-spacing: 0.035em;
        line-height: 1.6;
        font-size: 1.375rem;
        font-weight: 600;
        letter-spacing: 0.2rem;
      }
    }
  }

  .flowing-ttl {
    display: flex;
    width: 100%;
    overflow: hidden;

    &__item {
      flex: 0 0 auto;
      white-space: nowrap;
      padding: 0 15px;
      font-size: 10vw;
      font-weight: 600;
      line-height: 1.1;

      &:nth-child(odd) {
        animation: loop 40s linear -20s infinite;
        color: #00c295;
      }

      &:nth-child(even) {
        animation: loop2 40s linear infinite;
      }
    }

    &.reverse {
      .flowing-ttl__item {
        &:nth-child(odd) {
          animation: loop 40s linear -20s infinite reverse;
          color: #333;
        }

        &:nth-child(even) {
          animation: loop2 40s linear infinite reverse;
          color: #00c295;
        }
      }
    }
  }

  @keyframes loop {
    0% {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @keyframes loop2 {
    0% {
      transform: translateX(0);
    }

    to {
      transform: translateX(-200%);
    }
  }
}
