@use "../config/mixins" as *;

.page-about {
  position: relative;

  .parallax-box {
    position: relative;
    overflow: hidden;

    .img {
      height: 100vh;
    }

    .p-inner {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: #fff;
    }
  }

  .ab-main {
    display: flex;
    align-items: flex-start;
    padding: 80px 50px;

    @include mq(sp) {
      padding: 80px 10px;
      flex-direction: column;
    }

    &__left {
      position: sticky;
      top: 0;
      left: 0;
      width: 50%;
      background-color: #fff;

      @include mq(sp) {
        position: static;
        width: 100%;
      }

      .p-inner {
        padding: 0;
        margin-top: 150px;
        margin-bottom: 80px;

        @include mq(sp) {
          margin-top: 100px;
          margin-bottom: 10px;
        }

        .p-title {
          @include mq(tab) {
            font-size: 50px;
          }
        }
      }

      .parallax-box {
        height: 350px;

        @include mq(sp) {
          height: 200px;
        }

        .img {
          height: 100%;
        }
      }
    }

    &__right {
      width: 70%;

      @include mq(sp) {
        width: 100%;
        padding-top: 80px;
      }

      ul {
        padding-left: 80px;

        @include mq(sp) {
          padding-left: 0;
        }

        li {
          padding: 50px 0;
          border-bottom: dashed 1px #333;

          &:first-child {
            padding-top: 0;
          }

          .subheading {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 35px;
          }

          .text {
            font-size: 1.3rem;
          }

          dl {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            dt {
              width: 30%;
              font-size: 1.3rem;
              margin-right: 20px;
              font-weight: initial;

              @include mq(sp) {
                width: 40%;
              }
            }

            dd {
              width: 70%;
              font-size: 1.3rem;

              @include mq(sp) {
                width: 60%;
              }
            }
          }
        }
      }
    }
  }

  .ab-lower {
    .guide-area {
      background-color: #eee;

      a {
        position: relative;
        display: block;
        width: 100%;
        padding: 150px 80px;
        z-index: 1;
        transition: 0.3s;

        @include mq(sp) {
          padding: 150px 20px 200px;
        }

        &:last-child {
          border-top: dashed 1px #333;
        }

        &:hover {
          .guide-area__title {
            transform: scale(1.1);
          }

          .marker {
            &::before {
              transform-origin: left top;
              transform: scale(1, 1);
            }
          }
        }
      }

      &__wrap {
        display: flex;
        align-items: center;
        position: relative;
      }

      &__left {
        position: relative;
        width: 50%;

        @include mq(sp) {
          width: 65%;
        }
      }

      &__right {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;

        @include mq(sp) {
          top: -40px;
        }
      }

      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 380px;
        background-color: #fff;
        font-size: 60px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.2rem;
        margin: 0 auto;
        transition: 0.3s;

        @include mq(sp) {
          flex-direction: column;
          font-size: 24px;
          gap: 30px;
        }

        .sp-icon {
          width: 30px;
          height: 30px;

          img {
            object-fit: contain !important;
          }
        }
      }

      &__description {
        position: absolute;
        right: -490px;
        bottom: 20px;
        width: 500px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.2rem;
        line-height: 1.5;

        @include mq(tab) {
          right: -350px;
          bottom: -80px;
        }

        @include mq(sp) {
          right: auto;
          bottom: -100px;
          left: 20px;
          width: 300px;
          font-size: 14px;
        }
      }

      &__text {
        letter-spacing: 0.035em;
        line-height: 1.6;
        font-size: 1.375rem;
        font-weight: 600;
        letter-spacing: 0.2rem;

        &.marker {
          position: relative;
          z-index: 1;
          padding: 0 10px;

          @include mq(sp) {
            display: inline-block;
            padding: 0;
          }

          &::before {
            background: #fff;
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform 0.3s;
            z-index: -1;
          }
        }
      }
    }
  }

  .common-area {
    padding: 80px 50px 150px;

    @include mq(sp) {
      padding: 50px 10px 100px;
    }

    .p-inner {
      padding: 0;
      margin-bottom: 80px;

      @include mq(sp) {
        margin-bottom: 50px;
      }
    }
  }

  .mb {
    margin-bottom: -75px;

    @include mq(sp) {
      margin-bottom: -50px;
    }
  }

  .flowing-ttl {
    display: flex;
    width: 100%;
    overflow: hidden;

    &__item {
      flex: 0 0 auto;
      white-space: nowrap;
      padding: 0 15px;
      font-size: 10vw;
      font-weight: 600;
      line-height: 1.1;
      letter-spacing: 0.1em;
      color: #e8ebea;

      @include mq(sp) {
        font-size: 75px;
      }

      &:nth-child(odd) {
        animation: loop 40s linear -20s infinite;
        color: #61cdb0;
        color: hsla(166, 100%, 38%, 0.6);
      }

      &:nth-child(even) {
        animation: loop2 40s linear infinite;
      }
    }

    &.reverse {
      .flowing-ttl__item {
        &:nth-child(odd) {
          animation: loop 40s linear -20s infinite reverse;
          color: #e8ebea;
        }

        &:nth-child(even) {
          animation: loop2 40s linear infinite reverse;
          color: #e8aee8;
          color: hsla(352, 100%, 73%, 0.6);
        }
      }
    }
  }

  @keyframes loop {
    0% {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @keyframes loop2 {
    0% {
      transform: translateX(0);
    }

    to {
      transform: translateX(-200%);
    }
  }
}
