.page-access {
  position: relative;

  .a-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-image: url("assets/images/background/a-bgi01.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  .a-main {
    position: relative;
    padding: 80px 0;
    height: 100vh;

    &__left {
      position: absolute;
      top: 30%;
      left: 80px;

      .anchor-link {
        margin-top: 100px;

        li {
          margin-bottom: 50px;

          a {
            display: inline-block;
            overflow: hidden;
            color: transparent;
            text-shadow: 0 -1.5em 0 #000, 0 0 0 #000;
            transition: text-shadow 0.3s;
            letter-spacing: 0.2em;
            line-height: 1.5;
            transition-duration: 0.2s;
            border-bottom: solid 1px #333;

            &:hover {
              text-shadow: 0 0 0 #000, 0 1.5em 0 #000;
            }
          }
        }
      }
    }

    &__right {
      position: absolute;
      bottom: 80px;
      right: 80px;
      width: 350px;
      height: 200px;

      figure {
        position: relative;

        figcaption {
          position: absolute;
          top: -230px;
          right: 0;
          text-align: right;

          span {
            line-height: 2.5;
            letter-spacing: 0.5em;
          }
        }

        img {
          border-radius: 15px;
        }
      }
    }
  }

  .a-map {
    position: relative;
    width: 80%;

    &__img {
      position: relative;
      width: 100%;
      height: 800px;
      overflow-y: hidden;
      padding-top: 75%;
      border-radius: 50px;
      margin-left: 50px;

      iframe {
        position: absolute;
        top: -150px;
        left: 0;
        width: 100%;
        height: calc(100% + (150px * 2));
      }
    }

    &__info {
      position: absolute;
      top: 50%;
      right: -250px;
      transform: translateY(-50%);
      background-color: #fff;
      width: 400px;
      padding: 50px;
      border-radius: 30px;

      .logo {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 50px;
      }

      .logo-kana {
        text-align: center;
        margin-bottom: 20px;
      }

      .address {
        text-align: center;
        margin-bottom: 50px;

        span {
          display: block;
          text-align: left;
          margin-bottom: 10px;
        }
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        .icon {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }

        .text {
          font-size: 18px;
        }
      }
    }
  }

  .a-gallery {
    margin: 80px 50px 0;

    .area {
      display: grid;
      grid-template-columns: 0.4fr 0.6fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;

      figure {
        position: relative;

        img {
          border-radius: 15px;
        }

        figcaption {
          position: absolute;
          top: 0;
          right: 0;

          span {
            display: block;
            writing-mode: vertical-rl;
            background-color: #fff;
            padding: 30px 20px;
            font-size: 18px;
            font-weight: 400;
            border: solid 1px #00c295;
            border-radius: 0 15px 0 15px;
            color: #00c295;
          }
        }
      }

      .b-img {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
      }

      .s-img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        &:nth-child(2) {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
        }
      }

      &:nth-child(2) {
        margin-top: 20px;
        grid-template-columns: 0.6fr 0.4fr;
        grid-template-rows: 1fr;

        figcaption {
          left: 0;
          right: auto;

          span {
            border-radius: 15px 0 15px 0;
          }
        }

        .b-img {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }

        .m-img {
          grid-column: 2 / 2;
        }
      }
    }
  }

  .a-info {
    margin: 80px 50px;

    .list {
      display: flex;
      justify-content: end;
    }

    .item {
      position: relative;
      width: 150px;
      border-right: solid 1px #dee5de;
      transition: 0.25s all;
      cursor: pointer;
      overflow: hidden;

      &.--current {
        width: 800px;
        height: 100%;

        figure {
          width: 100%;
          height: 100%;
          margin-bottom: 50px;

          img {
            border-radius: 20px;
          }
        }

        .detail {
          left: 15px;
        }
      }

      &-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 15px;

        figure {
          width: 100%;
          height: 100px;

          img {
            border-radius: 5px;
          }
        }

        figcaption {
          writing-mode: vertical-rl;
          letter-spacing: 0.3em;
        }

        .text-sub {
          display: none;
          writing-mode: initial;
        }

        .detail {
          position: absolute;
          left: -560px;
          bottom: 0;

          .parking {
            // display: flex;

            p {
              padding: 20px;
              font-size: 1.125em;
              font-weight: 500;
              background: #eee;
              letter-spacing: 0.2rem;
            }

            dl {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 20px;
              font-size: 1.125em;
              text-align: center;
              border: solid 1px #eee;
              letter-spacing: 0.2rem;
            }

            dt {
              text-align: left;
              padding-right: 20px;
              font-weight: initial;

              .icon {
                display: inline-block;
                margin-right: 0.3em;
                background: #00a8c6;
                color: #fff;
                border-radius: 5px;
                padding: 0.1em 0.4em;
                width: 25px;
                height: 25px;
              }
            }

            dd {
              border-left: solid 1px #dee5de;
              padding-left: 20px;

              &:first-of-type {
                padding-right: 20px;
              }

              .decoration {
                background: #f8acac;
                font-size: 0.875em;
                color: #fff;
                display: inline-block;
                padding: 0.2em 1.5em;
                border-radius: 100px;
              }
            }
          }
        }
      }
    }
  }

  .parallax-box {
    position: relative;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      writing-mode: vertical-rl;
      color: #fff;
      line-height: 2.5;
      letter-spacing: 0.8em;
    }
  }
}
