.page-essentials {
  .essentials-container {
    width: 1000px;
    margin: 0 auto;
  }

  .essentials-bottom {
    .btn {
      width: 500px;
      margin: 0 auto 50px;
    }

    .btn02 {
      display: block;
      margin: 0 auto;
    }
  }
}
