.l-footer {
  &__contact {
    position: relative;

    .l-footer-info {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      max-width: 500px;
      z-index: 1;
      height: 100%;

      &__box {
        padding: 50px 0;
        height: 100%;
        color: #fff;

        .logo {
          width: 150px;
          margin: 0 auto 30px;
        }
        .name {
          text-align: center;
          margin-bottom: 20px;
          font-size: 30px;
          font-weight: 700;
        }
        .address {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.2em;
          text-align: center;
          margin-bottom: 20px;

          .post {
            display: block;
            margin-bottom: 10px;
          }
        }
        .open {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.2em;
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }

    .l-footer-gallery {
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(163, 143, 115, 0.35);
      }

      &__box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      &__item {
        height: 300px;
      }
    }
  }

  &__menu {
    padding: 10px 0;

    .l-footer-nav {
      padding: 10px 0;

      &__list {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__item {
        padding: 2px 30px;
        border-right: solid 1px #b6bcb6;

        &:last-child {
          border-right: none;
        }
      }

      &__text {
        font-size: 12px;
        color: #b6bcb6;
        line-height: 1;
      }
    }
  }

  &__copyright {
    background-color: #00c295;
    font-size: small;
    text-align: center;
    padding: 30px 0;
    color: white;
  }
}
