.page-form {
  .smf-form {
    max-width: 1000px;
    margin: 0 auto;
  }

  .privacy-check {
    .smf-placeholder {
      text-align: center;
    }
  }

  .privacy-link {
    text-decoration: underline;
    font-weight: 700;
  }
}
