.l-header {
  position: fixed;
  width: 100%;
  z-index: 3;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
  }

  &-logo {
    width: 150px;
    margin: 0 15px;
  }

  &__menu {
    display: flex;
    width: 100%;

    .l-header-nav {
      width: 100%;

      &__list {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__item {
        padding: 5px 15px;
      }

      &__link {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        &::after {
          content: "";
          display: block;
          width: 30px;
          height: 30px;
        }

        &.--event {
          &::after {
            background-image: url(assets/images/icon/i_event_p.png);
            background-position: center;
            background-size: cover;
          }
        }
        &.--floor {
          &::after {
            background-image: url(assets/images/icon/i_floor_p.png);
            background-position: center;
            background-size: cover;
          }
        }
        &.--shop {
          &::after {
            background-image: url(assets/images/icon/i_shop_p.png);
            background-position: center;
            background-size: cover;
          }
        }
        &.--access {
          &::after {
            background-image: url(assets/images/icon/i_access_p.png);
            background-position: center;
            background-size: cover;
          }
        }
      }

      &__text {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 700;
        color: #00c295;
      }
    }

    .hamburger {
      padding: 15px;
      margin-left: auto;

      &-nav {
        display: block;
        position: fixed;
        top: 0;
        left: -50%;
        bottom: 0;
        width: 60%;
        background: #ffffff;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transition: all 0.5s;
        z-index: 3;
        opacity: 0;

        &__menu {
          padding: 25px;

          .menu-container {
            margin: 35px 0;

            .head {
              .logo {
                width: 150px;
              }
            }

            .body {
              .subheading {
                display: flex;
                align-items: center;
                gap: 15px;
                font-weight: 600;

                span {
                  line-height: 1;
                  color: #333;
                }

                &::after {
                  content: "";
                  flex: 1 1 auto;
                  height: 1px;
                  background-color: #d9d5d5;
                }
              }

              .box {
                margin: 50px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                &__item {
                  text-align: center;
                  border-radius: 10px;

                  a {
                    display: block;
                    padding: 40px 15px;
                    font-size: 22px;
                  }

                  &:nth-of-type(1) {
                    background-color: #00c295;
                  }
                  &:nth-of-type(2) {
                    background-color: #333;
                  }
                  &:nth-of-type(3) {
                    background-color: #8faf43;
                  }
                  &:nth-of-type(4) {
                    background-color: #c04a4a;
                  }
                }
              }
            }
          }

          .list {
            li {
              padding: 50px 0;
              border-bottom: 1px solid #d9d5d5;

              a {
                display: block;
                overflow: hidden;
                color: transparent;
                text-shadow: 0 -1.5em 0 #000, 0 0 0 #000;
                transition: text-shadow 0.3s;
                font-size: 30px;
                transition-duration: 0.2s;

                &:hover {
                  text-shadow: 0 0 0 #000, 0 1.5em 0 #000;
                }
              }
            }

            &-sub {
              display: flex;
              margin: 50px;
              justify-content: center;

              &__link {
                display: flex;
                align-items: center;
                margin: 0 15px;

                .i-insta {
                  width: 18px;
                  height: 18px;
                  margin-right: 5px;

                  &__text {
                    line-height: 1.7;
                  }
                }
              }
            }
          }

          .bnr {
            margin: 50px 0;

            &__item {
              height: 150px;
              margin-bottom: 20px;

              img {
                border-radius: 10px;
                object-fit: cover;
              }
            }
          }

          .contact {
            width: 250px;
            margin: 20px auto 0;
            border: solid 1px #333;
            border-radius: 50px;

            a {
              display: block;
              padding: 15px;
              text-align: center;
            }
          }
        }
      }

      &-text {
        position: relative;
        font-size: 12px;
        z-index: 3;
        margin-top: 4px;

        span {
          &:first-child {
            display: block;
          }
          &:last-child {
            display: none;
          }
        }
      }

      .mask {
        display: none;
        transition: all 0.5s;
      }

      &.--open {
        .hamburger-nav {
          left: 0;
          opacity: 1;
        }

        .mask {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 1;
          z-index: 2;
          cursor: pointer;
          background-color: rgba(42, 41, 47, 0.6);
          backdrop-filter: blur(25px);
        }

        .hamburger-text {
          color: #ffffff;

          span {
            &:first-child {
              display: none;
            }
            &:last-child {
              display: block;
            }
          }
        }
      }
    }
  }
}
