@use "../config/mixins" as *;

.page-history {
  .h-container {
    @include mq(sp) {
      margin-top: 50px;
    }

    dl {
      display: grid;
      grid-template-columns: 35% 1fr;
      align-items: center;
      margin-bottom: 50px;

      @include mq(sp) {
        grid-template-columns: 1fr;
      }

      dt {
        text-align: right;
        padding-right: 50px;

        @include mq(sp) {
          text-align: left;
          padding-right: 0;
        }

        .ad {
          font-size: 3rem;
          color: #00c295;
        }
      }

      dd {
        padding: 20px 20px 20px 50px;
        border-left: solid 1px #00c295;

        @include mq(sp) {
          padding-left: 30px;
          margin-top: 15px;
          margin-left: 13px;
          border-left: solid 3px #00c295;
        }

        p {
          display: flex;
          align-items: flex-start;
          margin-bottom: 10px;
          line-height: 1.5;

          @include mq(sp) {
            flex-direction: column;
            margin-bottom: 30px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        .month {
          width: 65px;
          padding-right: 15px;
          font-weight: 600;

          @include mq(sp) {
            font-size: 22px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
