@use "../config/mixins" as *;

.shop-single {
  &__title {
    font-size: 32px;
    margin-bottom: 50px;

    @include mq(sp) {
      font-size: 26px;
      margin-bottom: 30px;
    }
  }

  &__container {
    max-width: 1100px;
    margin: 0 auto;
  }

  &__bottom {
    margin-top: 80px;

    .subheading {
      font-size: xx-large;
      margin-bottom: 1rem;
      border-bottom: solid 1px #b3adad;

      &-jp {
        font-size: medium;
        font-weight: 700;
      }
    }

    .shop-info {
      display: flex;
      align-items: center;
      gap: 50px;
      margin-top: 80px;

      @include mq(sp) {
        margin-top: 50px;
        flex-direction: column;
      }

      .thumbnail {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;

        @include mq(sp) {
          height: 150px;
        }

        img {
          display: block !important;
          width: 100% !important;
          height: 100% !important;
          object-fit: contain !important;
        }
      }

      .table {
        table-layout: fixed;
        width: 100%;

        tbody {
          @include mq(sp) {
            display: block;
            padding: 0 15px;
          }
        }

        tr {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 50px;

          @include mq(sp) {
            margin-bottom: 30px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        th {
          padding-bottom: 15px;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.2em;
          color: #7b7575;

          @include mq(sp) {
            font-size: 12px;
            padding-bottom: 10px;
            color: inherit;
          }
        }

        td {
          font-size: 24px;
          font-weight: 400;

          @include mq(sp) {
            font-size: 18px;
          }

          a {
            display: block;
            word-wrap: break-word;
            width: 100%;

            &:hover {
              color: #3daed4;
            }
          }
        }

        .icon-area {
          display: flex;
          align-items: center;
        }

        .icon {
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          flex-shrink: 0;

          &.right {
            margin-left: 10px;

            @include mq(sp) {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
