.main {
  padding-top: 80px;

  .kv {
    position: relative;
  }

  .scroll {
    position: absolute;
    left: 40px;
    bottom: 20%;
    writing-mode: vertical-rl;
    z-index: 2;

    &::before {
      animation: scroll 2s infinite;
      background-color: #000;
      bottom: -115px;
      content: "";
      height: 100px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 1px;
      z-index: 2;
    }

    &::after {
      background-color: #ccc;
      bottom: -115px;
      content: "";
      height: 100px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 1px;
    }
  }

  @keyframes scroll {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    51% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }
}

.section {
  &.--overlap {
    position: relative;
    background-color: #fff;
    margin-top: -150px;
    border-radius: 3.75rem 3.75rem 0px 0px;
  }

  .s-item {
    .subheading {
      font-size: x-large;
      margin: 45px 0;
    }

    &.--slider {
      margin-left: 30%;
    }

    &.--news {
      display: flex;
      align-items: flex-start;

      .s-title {
        text-align: left;
        margin-top: 0;
        margin-bottom: 15px;
      }

      .news-pickup {
        width: 40%;
        margin-right: 50px;

        .n-p-link {
          display: block;
          border-top: solid 2px #00c295;
          border-bottom: solid 2px #00c295;

          .img {
            border-radius: 30px;
          }
        }

        .n-p-card {
          padding: 30px 20px;

          .description {
            padding-top: 20px;
            text-align: center;

            .title {
              font-size: 18px;
              font-weight: 600;
              letter-spacing: 0.2rem;
            }
          }
        }

        .btn {
          margin-top: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .news-wrap {
        width: 60%;
        margin-bottom: 100px;

        .subheading {
          margin-top: 0;
        }

        .n-list {
          &-item {
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: solid 1px gray;
          }

          &-link {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.2rem;

            .date {
              font-size: 14px;
              font-weight: initial;
              margin-right: 40px;
            }
          }
        }
      }
    }

    .sns-grid {
      display: grid;
      grid-template-columns: 30% 1fr;
      gap: 10px;
      align-items: flex-start;
      margin: 90px 0 60px;

      &__box {
        &:first-child {
          position: sticky;
          top: 85px;
          left: 0;
        }
      }

      .sns-title {
        font-size: xx-large;
        margin-bottom: 50px;
      }

      .sns-icon {
        width: 50px;
        height: 50px;
        margin-bottom: 100px;
      }

      .sns-belt {
        max-width: 300px;
        padding-bottom: 20px;

        a {
          background-color: #67beaa;
          display: block;
          padding: 30px 10px;
          position: relative;
          overflow: hidden;
          border-radius: 10px;

          span {
            position: absolute;
            left: 25px;
            display: block;
            font-size: x-large;
            transition: all 0.3s;

            &:nth-child(1) {
              top: 50%;
              transform: translateY(-50%);
              color: #dbe9e6;
            }
            &:nth-child(2) {
              top: -100%;
              color: #eeb0b9;
            }
          }

          img {
            position: absolute;
            right: 20px;
            width: 30px;
            height: 30px;
            transition: all 0.3s;

            &:nth-child(3) {
              top: 50%;
              transform: translateY(-50%);
            }
            &:nth-child(4) {
              top: -100%;
            }
          }

          &:hover {
            background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%)
              no-repeat;
            background: linear-gradient(135deg, #427eff 0%, #f13f79 70%)
              no-repeat;

            span {
              &:nth-child(1) {
                top: -100%;
              }
              &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
              }
            }
            img {
              &:nth-child(3) {
                top: -100%;
              }
              &:nth-child(4) {
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }

  .main-visual {
    display: flex;
    align-items: flex-start;
    margin: 90px 0;

    .m-v-img {
      width: 50%;
      margin-right: 50px;

      img {
        border-radius: 30px;
      }
    }

    .m-v-title {
      &.--jp {
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        color: #333;

        span {
          font-size: 60px;
          color: #ff7385;
          padding-right: 10px;
        }
      }

      &.--en {
        font-size: large;
        color: #333;
        font-weight: 700;

        span {
          color: #ff7385;
          padding-left: 10px;
        }
      }
    }
  }

  .parallax-box {
    position: relative;

    .simpleParallax {
      height: 850px;
    }
  }
}
