@use "fonts" as *;

///////////////////* break point *///////////////////
$layout-width-inner: 1180px;

$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

//////////////////////* font *//////////////////////

// base font

// main slider font
$slider-icon: "KikaiChokoku";

//////////////////////* color *//////////////////////

// color
$black: #333;
$white: #fff;
$myami-g: #00c295;
$myami-p: #ff7385;

// base font color
$base-font-color: $black;

// base link color
$base-link-color: $black;
$base-link-color-hover: $white;
