@charset "UTF-8";

/* --------------------------------------------------------------
config
-------------------------------------------------------------- */
@use "assets/scss/config/reset" as *;
@use "assets/scss/config/variables" as *;

/* --------------------------------------------------------------
common
-------------------------------------------------------------- */
@use "assets/scss/common/common" as *;

/* button
========================================================= */
@use "assets/scss/common/button" as *;

/* --------------------------------------------------------------
component
-------------------------------------------------------------- */
@use "assets/scss/component/inner" as *;
@use "assets/scss/component/title" as *;

/* plugin
========================================================= */
@use "assets/scss/component/swiper" as *;
@use "assets/scss/component/scroll-trigger" as *;

/* --------------------------------------------------------------
layout
-------------------------------------------------------------- */
/* header
========================================================= */
@use "assets/scss/layout/header" as *;

/* footer
========================================================= */
@use "assets/scss/layout/footer" as *;

/* top-page
========================================================= */
@use "assets/scss/layout/top" as *;

/* event-page
========================================================= */
@use "assets/scss/layout/event" as *;

/* floor-page
========================================================= */
@use "assets/scss/layout/floor" as *;

/* access-page
========================================================= */
@use "assets/scss/layout/access" as *;

/* shop page
========================================================= */
@use "assets/scss/layout/shop" as *;

/* shop-list-page
========================================================= */
@use "assets/scss/layout/shop-list" as *;

/* news page
========================================================= */
@use "assets/scss/layout/news" as *;

/* news-list-page
========================================================= */
@use "assets/scss/layout/news-list" as *;
