/* --------------------------------------------------------------
config
-------------------------------------------------------------- */
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@font-face {
  font-family: "KikaiChokoku";
  src: url("../../fonts/KikaiChokokuJIS-Md.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* --------------------------------------------------------------
common
-------------------------------------------------------------- */
.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* button
========================================================= */
.btn {
  margin-top: auto;
}
.btn a {
  width: 180px;
  height: 50px;
  border: solid 1px #00c295;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-btn {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 3;
}
.toggle-btn span {
  display: block;
  position: absolute;
  left: 0;
  transition: all 0.5s;
  height: 1px;
  background-color: #333;
  border-radius: 4px;
}
.toggle-btn span:nth-child(1) {
  top: 1px;
  width: 30px;
}
.toggle-btn span:nth-child(2) {
  top: 11px;
  width: 25px;
}
.toggle-btn:hover span:nth-child(1) {
  top: 4px;
}
.toggle-btn:hover span:nth-child(2) {
  top: 10px;
}

.hamburger.--open .toggle-btn {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.hamburger.--open .toggle-btn span {
  background-color: #fff;
}
.hamburger.--open .toggle-btn span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
}
.hamburger.--open .toggle-btn span:nth-child(2) {
  -webkit-transform: translateY(-5px) rotate(45deg);
  transform: translateY(-5px) rotate(45deg);
  width: 30px;
}
.hamburger.--open .toggle-btn:hover span:nth-child(1) {
  top: 1px;
}
.hamburger.--open .toggle-btn:hover span:nth-child(2) {
  top: 11px;
}

/* --------------------------------------------------------------
component
-------------------------------------------------------------- */
.inner {
  padding: 0 90px;
}

.s-inner {
  padding: 20px 90px;
}

.s-slider-inner {
  padding: 20px 0 20px 20px;
}

.m-inner {
  padding: 50px;
}

.s-title {
  font-size: xx-large;
  text-align: center;
  margin: 50px auto;
}

/* plugin
========================================================= */
/* --------------------------------------------------------------
swiper
-------------------------------------------------------------- */
/* main
========================================================= */
.main-swiper {
  border-radius: 30px;
  overflow: initial !important;
}
.main-swiper .swiper-wrapper .swiper-slide {
  height: 700px !important;
}
.main-swiper .swiper-wrapper .swiper-slide .img {
  border: solid 2px #00c295;
  border-radius: 30px;
}

/* topics
========================================================= */
.swiper-outer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  margin-bottom: 150px;
}
.swiper-outer .swiper-scrollbar {
  background: #eee;
  height: 2px !important;
  position: absolute;
  bottom: -50px !important;
  left: 0 !important;
  width: 50% !important;
}
.swiper-outer .swiper-scrollbar-drag {
  background: #00c295;
  border-radius: 4px;
}
.swiper-outer .swiper-scrollbar-horizontal {
  z-index: 2 !important;
}
.swiper-outer .swiper-button-prev,
.swiper-outer .swiper-button-next {
  position: absolute;
  top: auto !important;
  left: 60% !important;
  bottom: -72px;
  width: 50px !important;
  height: 50px !important;
  z-index: 2 !important;
}
.swiper-outer .swiper-button-prev::after,
.swiper-outer .swiper-button-next::after {
  content: "";
  width: 50px !important;
  height: 50px !important;
}
.swiper-outer .swiper-button-prev {
  background-image: url(assets/images/icon/i_arrow_l_g.png);
  background-position: center;
  background-size: cover;
}
.swiper-outer .swiper-button-next {
  left: calc(60% + 80px) !important;
  background-image: url(assets/images/icon/i_arrow_r_g.png);
  background-position: center;
  background-size: cover;
}

.topics-swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
  box-sizing: border-box;
}
.topics-swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.topics-swiper .swiper-wrapper .swiper-slide {
  height: 250px !important;
  width: 400px !important;
}
.topics-swiper .swiper-wrapper .swiper-slide .img {
  border-radius: 30px;
  border: solid 2px #00c295;
}

.js-fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s;
}
.js-fade-up.--show {
  opacity: 1;
  transform: translateY(0);
}

.js-stretch-in {
  aspect-ratio: 1/1;
  --clip-1: 50%;
  --clip-2: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(var(--clip-1) var(--clip-1), var(--clip-2) var(--clip-1), var(--clip-2) var(--clip-2), var(--clip-1) var(--clip-2));
}

.js-fade-in {
  opacity: 0;
}

/* --------------------------------------------------------------
layout
-------------------------------------------------------------- */
/* header
========================================================= */
.l-header {
  position: fixed;
  width: 100%;
  z-index: 3;
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
}
.l-header-logo {
  width: 150px;
  margin: 0 15px;
}
.l-header__menu {
  display: flex;
}
.l-header__menu .l-header-nav__list {
  display: flex;
  align-items: center;
}
.l-header__menu .l-header-nav__item {
  padding: 5px 15px;
}
.l-header__menu .l-header-nav__link {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.l-header__menu .l-header-nav__link::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
}
.l-header__menu .l-header-nav__link.--event::after {
  background-image: url(assets/images/icon/i_event_p.png);
  background-position: center;
  background-size: cover;
}
.l-header__menu .l-header-nav__link.--floor::after {
  background-image: url(assets/images/icon/i_floor_p.png);
  background-position: center;
  background-size: cover;
}
.l-header__menu .l-header-nav__link.--shop::after {
  background-image: url(assets/images/icon/i_shop_p.png);
  background-position: center;
  background-size: cover;
}
.l-header__menu .l-header-nav__link.--access::after {
  background-image: url(assets/images/icon/i_access_p.png);
  background-position: center;
  background-size: cover;
}
.l-header__menu .l-header-nav__text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #00c295;
}
.l-header__menu .hamburger {
  padding: 15px;
}
.l-header__menu .hamburger-nav {
  display: block;
  position: fixed;
  top: 0;
  left: -50%;
  bottom: 0;
  width: 60%;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.8s;
  z-index: 3;
  opacity: 0;
}
.l-header__menu .hamburger-nav__menu {
  padding: 25px;
}
.l-header__menu .hamburger-nav__menu .menu-container {
  margin: 35px 0;
}
.l-header__menu .hamburger-nav__menu .menu-container .head .logo {
  width: 150px;
}
.l-header__menu .hamburger-nav__menu .menu-container .body .subheading {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
}
.l-header__menu .hamburger-nav__menu .menu-container .body .box {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.l-header__menu .hamburger-nav__menu .menu-container .body .box__item {
  text-align: center;
  border-radius: 10px;
}
.l-header__menu .hamburger-nav__menu .menu-container .body .box__item a {
  display: inline-block;
  padding: 10px 15px;
}
.l-header__menu .hamburger-nav__menu .menu-container .body .box__item:nth-of-type(1) {
  background-color: #00c295;
}
.l-header__menu .hamburger-nav__menu .menu-container .body .box__item:nth-of-type(2) {
  background-color: #333;
}
.l-header__menu .hamburger-nav__menu .menu-container .body .box__item:nth-of-type(3) {
  background-color: #8faf43;
}
.l-header__menu .hamburger-nav__menu .menu-container .body .box__item:nth-of-type(4) {
  background-color: #c04a4a;
}
.l-header__menu .hamburger-nav__menu .list li {
  border-bottom: 1px solid #333;
}
.l-header__menu .hamburger-nav__menu .list li a {
  display: block;
  color: #333;
  font-size: 18px;
  padding: 50px 0;
  transition-duration: 0.2s;
}
.l-header__menu .hamburger-nav__menu .list li a:hover {
  background: #e4e4e4;
}
.l-header__menu .hamburger-text {
  position: relative;
  font-size: 12px;
  z-index: 3;
  margin-top: 4px;
}
.l-header__menu .hamburger-text span:first-child {
  display: block;
}
.l-header__menu .hamburger-text span:last-child {
  display: none;
}
.l-header__menu .hamburger .mask {
  display: none;
  transition: all 0.5s;
}
.l-header__menu .hamburger.--open .hamburger-nav {
  left: 0;
  opacity: 1;
}
.l-header__menu .hamburger.--open .mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  background-color: rgba(42, 41, 47, 0.6);
  backdrop-filter: blur(25px);
}
.l-header__menu .hamburger.--open .hamburger-text {
  color: #ffffff;
}
.l-header__menu .hamburger.--open .hamburger-text span:first-child {
  display: none;
}
.l-header__menu .hamburger.--open .hamburger-text span:last-child {
  display: block;
}

/* footer
========================================================= */
.l-footer {
  margin-top: 80px;
}
.l-footer__contact {
  position: relative;
}
.l-footer__contact .l-footer-info {
  position: relative;
  max-width: 350px;
  z-index: 1;
  height: 100%;
}
.l-footer__contact .l-footer-info__box {
  padding: 50px 0;
  height: 100%;
  background: rgba(250, 252, 251, 0.8);
}
.l-footer__contact .l-footer-info__box .logo {
  width: 150px;
  margin: 0 auto 20px;
}
.l-footer__contact .l-footer-info__box .address {
  text-align: center;
  margin-bottom: 10px;
}
.l-footer__contact .l-footer-info__box .name {
  text-align: center;
  margin-bottom: 10px;
}
.l-footer__contact .l-footer-info__box .open {
  text-align: center;
  margin-bottom: 10px;
}
.l-footer__contact .l-footer-info__box .tel {
  text-align: center;
}
.l-footer__contact .l-footer-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.l-footer__menu {
  padding: 10px 0;
}
.l-footer__menu .l-footer-nav {
  padding: 10px 0;
}
.l-footer__menu .l-footer-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-footer__menu .l-footer-nav__item {
  padding: 2px 30px;
  border-right: solid 1px #b6bcb6;
}
.l-footer__menu .l-footer-nav__item:last-child {
  border-right: none;
}
.l-footer__menu .l-footer-nav__text {
  font-size: 12px;
  color: #b6bcb6;
  line-height: 1;
}
.l-footer__copyright {
  background-color: #00c295;
  font-size: small;
  text-align: center;
  padding: 30px 0;
  color: white;
}

/* top-page
========================================================= */
.main {
  padding-top: 80px;
}
.main .kv {
  position: relative;
}
.main .kv .icon-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  max-width: 200px;
}

.section.--overlap {
  position: relative;
  background-color: #fff;
  margin-top: -100px;
  border-radius: 3.75rem 3.75rem 0px 0px;
}
.section .s-item .subheading {
  font-size: x-large;
  margin: 30px 0;
}
.section .s-item.--slider {
  margin-left: 30%;
}
.section .s-item.--news {
  display: flex;
  align-items: flex-start;
}
.section .s-item.--news .s-title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
}
.section .s-item.--news .news-pickup {
  width: 500px;
  margin-right: 50px;
}
.section .s-item.--news .news-pickup .n-p-link {
  display: block;
  border-top: solid 2px #00c295;
  border-bottom: solid 2px #00c295;
}
.section .s-item.--news .news-pickup .n-p-link .img {
  border-radius: 30px;
}
.section .s-item.--news .news-pickup .n-p-card {
  padding: 30px 20px;
}
.section .s-item.--news .news-pickup .n-p-card .description {
  padding: 20px 10px 0;
}
.section .s-item.--news .news-wrap .subheading {
  margin-top: 0;
}
.section .s-item.--news .news-wrap .n-list-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px gray;
}
.section .s-item .sns-grid {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 10px;
  align-items: flex-start;
}
.section .s-item .sns-grid__box:first-child {
  position: sticky;
  top: 85px;
  left: 0;
}
.section .s-item .sns-grid .sns-title {
  font-size: xx-large;
  margin-bottom: 50px;
}
.section .s-item .sns-grid .sns-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 100px;
}
.section .s-item .sns-grid .sns-belt {
  max-width: 300px;
}
.section .s-item .sns-grid .sns-belt a {
  background-color: #67beaa;
  display: block;
  padding: 30px 10px;
  position: relative;
  overflow: hidden;
}
.section .s-item .sns-grid .sns-belt a span {
  position: absolute;
  left: 10px;
  display: block;
  font-size: x-large;
  transition: all 0.3s;
}
.section .s-item .sns-grid .sns-belt a span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%);
  color: #dbe9e6;
}
.section .s-item .sns-grid .sns-belt a span:nth-child(2) {
  top: -100%;
  color: #eeb0b9;
}
.section .s-item .sns-grid .sns-belt a img {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}
.section .s-item .sns-grid .sns-belt a img:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}
.section .s-item .sns-grid .sns-belt a img:nth-child(4) {
  top: -100%;
}
.section .s-item .sns-grid .sns-belt a:hover {
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}
.section .s-item .sns-grid .sns-belt a:hover span:nth-child(1) {
  top: -100%;
}
.section .s-item .sns-grid .sns-belt a:hover span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.section .s-item .sns-grid .sns-belt a:hover img:nth-child(3) {
  top: -100%;
}
.section .s-item .sns-grid .sns-belt a:hover img:nth-child(4) {
  top: 50%;
  transform: translateY(-50%);
}
.section .main-visual {
  display: flex;
  align-items: flex-start;
  margin: 90px 0;
}
.section .main-visual .m-v-img {
  width: 50%;
  margin-right: 50px;
}
.section .main-visual .m-v-img img {
  border-radius: 30px;
}
.section .main-visual .m-v-title.--jp {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}
.section .main-visual .m-v-title.--jp span {
  font-size: 60px;
  color: #ff7385;
  padding-right: 10px;
}
.section .main-visual .m-v-title.--en {
  font-size: large;
  color: #333;
  font-weight: 700;
}
.section .main-visual .m-v-title.--en span {
  color: #ff7385;
  padding-left: 10px;
}
.section .parallax-box {
  position: relative;
}
.section .parallax-box .simpleParallax {
  height: 1000px;
}